# Dependencies & Package Managers
node_modules/
.pnp
.pnp.js

# Build Artifacts
dist/
dist-ssr/
build/
target/
*.jar
*.war
*.ear

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Variables & Local Config
.env
.env.local
.env.*.local

# IDE & OS Artifacts
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.class
*.iml
.mvn/.extracted/
